<h1>id: <%= @task.id %> のタスク編集ページ</h1>

<div class="row">
  <aside class="col-sm-4">
    <%= form_with(model: @task) do |f| %>
      <div class="mb-3">
        <%= render 'form', task: @task %>
      </div>
    <% end %>
  </aside>
</div>

<%= link_to '一覧に戻る', tasks_path %>