<h1>タスク新規作成ページ</h1>

<div class="row">
  <aside class="col-sm-4">
    <%= form_with(model: @task) do |f| %>
      <div class="mb-3">
        <%= render 'form', task: @task %>
      </div>
    <% end %>
  </aside>
</div>

<%= link_to 'タスク一覧に戻る', tasks_path %>
